body {
  background-color: teal;
  color: aliceblue;
}

h1 {
  text-transform: uppercase;
}

.first_class-list-style {
  list-style-type: circle;
}

#first_id-list-style {
  list-style-position: inherit;
}
